@font-face {
    font-family: "customFont";
    src: url("./Rubik-VariableFont_wght.ttf");
}

*{
    /* border: 1px solid rgba(255, 0, 0, 0.438); */
    font-family: customFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #414141; */
    /* color: #5995DA;    Blue */

}

body{
  color: #5d6063;
  background-color: #fff;
  min-width: 320px;
  font-size: 18px;
  display: block;
}
a {
  text-decoration: none;
}

.section{
  max-width: 1200px;
}

#content{
  display: grid;
  grid-template-rows: 20% 1fr;
  place-items: center;
}

nav{
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
}
nav ul{
  display: flex;
  gap: 1.2rem;
  list-style: none;
}
.logo{
  margin-right: auto;
}
.menu-icon{
  display: none;
}
@media only screen and (max-width:600px){
  .menu-icon{
    display: unset;
  }
  nav ul{
    display: none;
  }
}

.Hero{
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-pp{

}
.my-name{
    font-weight: 400;
    font-size: 4rem;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
  }

  .loading-bar {
    width: 300px;
    height: 2px;
    background-color: #888888;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  .progress {
    height: 100%;
    background-color: #fff;
    width: 120%; 
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
    animation: progressAnimation 4s ease-in-out infinite;
  }

  @keyframes progressAnimation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  } */